<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:hardwareAccelerated="true">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <queries>

        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".modules.activities.newActivities.ComplaintRegistrationActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.newActivities.IntroActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.newActivities.ElectricityBillPayActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.newActivities.ElectricityActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.newActivities.AllServicesActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.newActivities.PlanDetailsActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge"
            android:windowSoftInputMode="stateVisible"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.newActivities.MobileBankingActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.newActivities.CommissionChartActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.BharatBillPayActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".modules.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Define your custom scheme here -->
                <data
                    android:scheme="myapp"
                    android:host="open" /> <!-- optional: can be anything -->
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.activities.StatementsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.BillActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.StatementsMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.MemberProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.MembersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.AddMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.ShareEarnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.ReferandEarnTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.ComplainsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.MyReferralsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.ReferralsIncomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.SupportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.HelpLineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.RechargeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.PlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.DthPlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.AddBalanceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Recharge"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.PaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.SelectNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.ReportsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.ManualHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.RechargeReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.OnlineDepositActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.ManualActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.CommissionNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.DownlinePackageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.MyCommisionPackageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.OpenPhonePayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".modules.activities.AfterDepositActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".firebase.MyFcmListenerService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!--
            Set custom default icon. This is used when no icon is set for incoming notification messages.
            See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_logo" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBsHuTMLdEadgZILtt-HeF1SRF1JYawifY" />
        <meta-data
            android:name="payu_debug_mode_enabled"
            android:value="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".utils.network.NetworkChangeReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <meta-data android:name="firebase_inapp_messaging_auto_data_collection_enabled" android:value="true" />
    </application>

</manifest>